/* ----------------------------- GENERAL ----------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
h2{
    font-size: 24px;
    color: #666;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 12px;
    color: #39b54a;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
    color:  #666;
}
li{
    font-size: 16px;
    font-weight: bolder;
}
p{
    font-size: 12px;
    text-align: center;
    color:  #666;
}
/* ----------------------------- MOBILE ----------------------------- */
/* ----------------------------- Header ----------------------------- */
header{
    background-color: #EAC926;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 260px;
    width: 100%;
}
.section__01{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section__logo{
    width: 70%;
}
.nav__1{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.form__button{
    padding: 5px;
    background-color: #ebebeb;
    border: 1px solid #1259c3;
    border-radius: 20px;
}
.form__input{
    padding: 5px;
    border: 1px solid #1259c3;
    border-radius: 1.625rem;
}
.form__button > i{
    color: #1259c3;
}
.article__01 > h5{
    text-align: center;
    padding: 10px;
}
.nav__2{
    display: none;
}
.list__element > a {
    color: black;
    text-decoration: none;
}
.section__div{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.section__div > i{
    color: white;
    background-color: #1259c3;
    padding: 10px;
    border-radius: 25%;
    cursor: pointer;
}
.section__div > i:hover{
    background-color: #2164c9;
}
/* ----------------------------- Main ----------------------------- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2850px;
    background-color: #ebebeb;
    justify-content: space-around;
}
main > img{
    width: 100%;
}
.main__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__title{
    margin: 15px 0 15px 0;
}
.section__article{
    height: 320px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    background-color: white;
    padding: 15px;
    border: 1px solid #ebebeb;
    cursor: pointer;
}
.section__article > img{
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}
.section__article > i{
    color: #39b54a;
    border: 1px solid #39b54a;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    left: 220px;
    bottom: 20px;
}
.section__article > h3{
    display: none;
}
.section__article > h4{
    position: relative;
    bottom: 43px;
    left: 70px;
}
.section__article > h5{
    position: relative;
    bottom: 25px;
}
.article__12 > h4{
    left: 85px;
}
.article__22 > h4{
    left: 85px;
}
/* ----------------------------- Footer ----------------------------- */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding-bottom: 15px;
}
.footer__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.footer__section > i{
    color: #1259c3;
    font-size: 2em;
}
/* ----------------------------- TABLET ----------------------------- */
@media (min-width: 361px) {
    /* ----------------------------- Header ----------------------------- */
    header{
        height: 200px;
    }
    .section__logo{
        width: 30%;
    }
    .header__section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .section__01{
        justify-content: space-evenly;
    }
    .article__01{
        width: 30%;
    }
    .nav__2{
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav__list{
        width: 45%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .section__div{
        display: none;
    }
    /* ----------------------------- Main ----------------------------- */
    main{
        height: 2040px;
    }
    main > img{
        display: block;
        width: 100%;
    }
    .main__div{
        display: flex;
    }
    .section__article{
        height: 400px;
        width: 300px;
        margin: 20px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .section__article > h3{
        display: block;
    }
        .article__12 > h3{
        position: relative;
        top: -5px;
    }
    .article__22 > h3{
        position: relative;
        top: -5px;
    }
    .article__12 > img{
        height: 267.4px;
    }
    .article__22 > img{
        height: 267.4px;
    }
    /* ----------------------------- Footer ----------------------------- */
    .footer__section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
}
/* ----------------------------- DESKTOP ----------------------------- */
@media (min-width: 769px) {
    /* ----------------------------- Header ----------------------------- */
    header{
        height: 250px;
    }
    .section__logo{
        width: 25%;
    }
    .nav__1{
        width: 40%;
    }
    .form__input{
        width: 500px;
    }
    .article__01{
        width: 25%;
    }
    .article__01 > h5{
        font-size: 20px;
    }
    .nav__list{
        width: 40%;
        justify-content: space-evenly;
    }
    /* ----------------------------- Main ----------------------------- */
    main{
        width: 100%;
        height: 1430px;
        justify-content: center;
    }
    .section__title{
        align-self: flex-start;
        font-size: 30px;
        margin: 20px 0 20px 300px;
    }
    .main__section{
        flex-direction: row;
        justify-content: space-around;
    }
    .main__div{
        width: 50%;
        justify-content: space-around;
    }
    .section__article{
        height: 400px;
        width: 300px;
    }
    /* ----------------------------- Footer ----------------------------- */
    footer{
        flex-direction: column;
        height: 200px;
        width: 100%;
    }
    .footer__section{
        width: 300px;
    }
    .footer__div{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}
/* ----------------------------- LOGIN ----------------------------- */
/* ----------------------------- MOBILE ----------------------------- */
/* ----------------------------- Main ----------------------------- */
.login__main{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__form{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login__input{
    border-radius: 3px;
    border: none;
    width: 250px;
    height: 30px;
}
.form__submit{
    border-radius: 3px;
    border: none;
    height: 30px;
    width: 250px;
    background-color: #1259c3;
    color: white;
}
/* ----------------------------- TABLET ----------------------------- */
@media (min-width: 361px) {
    /* ----------------------------- Main ----------------------------- */
    .login__input{
        width: 691px;
    }
    .form__submit{
        width: 691px;
    }
}
/* ----------------------------- DESKTOP ----------------------------- */
@media (min-width: 769px) {
    /* ----------------------------- Main ----------------------------- */
    .login__main{
        height: 400px;
    }
    .login__input{
        width: 1100px;
        height: 40px;
    }
    .form__submit{
        width: 1100px;
        height: 40px;
    }
}